<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Detail url:</strong>
  <%= @product.detail_url %>
</p>

<p>
  <strong>Image url:</strong>
  <%= image_tag @product.avatar.url %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
